<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/login.css">

</head>
<body>
	<div class="logo">
	</div>		
		<div class="wrapper">

						<div>
						<div>
							<img src="./img/image 4 (1).png">
						</div>
						<div>
							<h3>Hello</h3>
						</div>
						<div>
							<h4><strong><%= name %></strong></h4>
						</div>
						</div>
						<div class="update">
							<body>Update Patient Details</body>
						</div>
					
						<div >
							
							<div id="qr-reader" style="width:300px; left: 50px;"></div>
    						<div id="qr-reader-results"></div>
							
							<!-- <img src="./img/image 3.png" class="qr">
						 -->
						</div>
						
					
						<!-- <div class="bottom">
							<img src="Vector (2).png" alt=""> -->
					
			
		</div>
		<div class="abc">
			<a href="/logout">Logout</a>
			<a href="/assign">Assign</a>
		</div>
	</div>
	
    </script>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <script>
    var resultContainer = document.getElementById('qr-reader-results');
var lastResult, countResults = 0;

function onScanSuccess(decodedText, decodedResult) {
    if (decodedText !== lastResult) {
        ++countResults;
        lastResult = decodedText;
        // Handle on success condition with the decoded message.
            // Redirect to the scanned URL
        window.location.href = lastResult;
        console.log(`Scan result ${decodedText}`, decodedResult);
    }
}

var html5QrcodeScanner = new Html5QrcodeScanner(
    "qr-reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess);
</script>
	
</body>
</html>