<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="./css/login.css">
</head>
<body>
	
	
		<div class="logo">
			<img src="./img/Vector (1).png" alt="logo">
		</div>		
		<div class="wrapper">
			
				
					
						<div>
						<div>
							<img src="./img/image 4 (1).png">
						</div>
						<div>
							<h3>Hello</h3>
						</div>
						<div>
							<h4><strong><%= name %></strong></h4>
						</div>
						</div>
						<div class="update">
							<body>Update Patient Details</body>
						</div>
					
						<div >
							<img src="./img/Rectangle 1.png"class="rectangle">
							<div class="centered">Scan QR</div>
							<!-- <img src="./img/image 3.png" class="qr">
						 -->
						</div>
						
					
						<!-- <div class="bottom">
							<img src="Vector (2).png" alt=""> -->
					
			
		</div>
		<div class="abc">
			<a href="/logout">Logout</a>
		</div>
	</div>
</body>
</html>