<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/doctor.css">
</head>
<div class="wrapper">
<div class="bottom">
    <img src="./img/Vector (4).png" alt="">
</div>
<div class="logo">
    <img src="./img/image 4.png" alt="">
</div>
<div class="text">
    <h4>Patient Name</h4>
</div>

<div class="body">
    <h5>Name</h5>
</div>
<body>
    
<div class="box">
    <img src="./img/Username (1).png" alt="">
</div>

<div class="todo">
    <img src="./img/Username (2).png" alt="">
</div>
<div class="todo1">
    <img src="./img/Username (2).png" alt="">
</div>
<div class="todo2">
    <img src="./img/Username (2).png">
</div>
<l1>
    <div class="long">
        <img src="./img/Username (3).png" alt=""><h4><strong><%= email %></strong></h4>
    </div>

    <div class="long1">
        <img src="./img/Username (4).png">
    </div>

    <div class="long2">
        <img src="./img/Username (4).png">
        </div>
</l1>
</div>
</body>
</html>